@import "fontsStyle.css";
@import "flaticon.css";
@import "material-icons.css";

/*<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">*/

/*========== ГЛОБАЛЬНЫЕ НАСТРОЙКИ ============================================*/

*{
    margin: 0;
    padding: 0;
}

.clearfix{
    clear: both;
}

.outline1{
    outline: 1px solid black;
}

.outline2{
    outline: 1px solid darkgoldenrod;
}
.colorBlok1{
    background-color: seashell;
}

.colorBlok2{
    background-color: khaki;
}

/*========= КОНЕЦ ГЛОБАЛЬНЫЕ НАСТРОЙКИ =======================================*/

.wrapper{
    width: 1920px;
    margin: 5px auto;
    outline: 5px solid red;
}

/*========== HEADER ============================================*/
.header{
    height: 1120px;
    background-image: url("../images/video-bg-4.png");
    text-align: center;
    color: #FFF;
}

.header h1{
    padding-top: 143px;
    font-family: 'Lato-Bold';
    font-size: 45px;
    text-transform: uppercase;   
}

.header p{

    font-family: 'Lato Black';
    font-size: 20px;
}
.header span{

    font-family: 'Lato Regular';
    font-size: 65px;
    text-transform: capitalize;
}


.formW{
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    width: 370px;
    height: 320px;
    background-color: #e3e1df;  /*rgba(255,255,255,0.4)*/
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.formW input{
    margin: 10px 10px 0;
    padding-left: 20px;
    border: 1px solid #cccccc;
    font-family: 'Lato Regular';
    color: #595958;
    font-size: 22px;
    width: 290px;
    height: 51px;
}
/*.formW input:first-child{
    margin: 0;
}*/

.getStarted{
    width: 310px !important;
    height: 61px !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: deepskyblue;
    text-transform: uppercase;
    margin: 20px 0 10px 0 !important;
}

.getStarted:hover{
    background-color: #EF3159;
    cursor: pointer;
}

/*========= КОНЕЦ HEADER =====================================================*/


/*========== ABOUT US ========================================================*/
.aboutUs{
    margin: auto;
   /*max-width: 750px;*/
}
.about{
    text-align: center;
}

.about p:first-child{
    font-family: 'Lato Regular';
    font-size: 45px;
    text-transform: capitalize;
}

.us1{
    font-family: 'Lato Bold';
    font-size: 20px;
    text-transform: capitalize;
}

.aboutUsBlok div{
    
}
.aboutUsBlok{
    width: 100%;
}

.icon{
    height: 100%;
    float: left;
}

.leftTop{
    width: 400px;
    float: left;    
    padding-left: 100px;
}

.rightTop{
    width: 400px;
    float: right;
    padding-right: 150px;

}

.leftBottom{
    width: 400px;
    float: left;
    padding-left: 100px;
}
.leftBottom{

}

.righttBottom{
    width: 400px;    
    float: right;
    padding-right: 150px;

}
.textAboutUsBlok{
    float: right;
    width: 290px;
    height: 100%;
}
.textAboutUsBlok :nth-child(1){
    text-transform: capitalize;
    font: bold 20px 'Lato Regular';
}

.textAboutUsBlok :nth-child(even){
    text-transform: capitalize;
    font: normal 16px 'Lato Regular';
}
/*========= КОНЕЦ ABOUT US ===================================================*/


/*========== FEATURES ========================================================*/
.features{
    text-align: center;
}
.features p:first-child{
    font-family: 'Lato Regular';
    font-size: 45px;
    text-transform: capitalize;
}
.featuresBlok{
    width: 100%;

}
.textFeatures{
    width: 40%;
    float: left;
    padding-top: 20px;
    padding-left: 40px;
}

.textFeatures h3{
    text-transform: capitalize;
}

.textFeaturesInstant{
    position: relative;
    padding-left: 110px;
}

.textFeaturesVarios{
    position: relative;
    padding-left: 110px;
}

.textFeaturesFull{
    position: relative;
    padding-left: 110px;
}

.iconFeatures{
    position: absolute;
    left: 10px;
    
}
.textFeaturesFormat{
    margin-top: 30px;
}
.textFeaturesFormat p, h3{
    width: 90%;
    text-align: left;
}

.featuresImg{
    width: 50%;
    float: right;
    position: relative;
}
    .colorQrt{   
        margin: 20px auto;
        width: 400px;
        height:300px;
        background: linear-gradient(to right, red 0, red 50%, blue 50%, blue 100%);
    }
    .featuresImg img{
        width: 40%;
        position: absolute;
        top: 10px;
        right: 200px;
    }
    
/*========= КОНЕЦ FEATURES ===================================================*/


/*========== ADVANTAGES ======================================================*/


/*========= КОНЕЦ ADVANTAGES =================================================*/



/*  ===== СПРАВОЧНО==============
background: linear-gradient(to right, red 0, red 50%, blue 50%, blue 100%);
    background: linear-gradient(to right, red, transparent), linear-gradient(to top, blue, transparent);
    background: linear-gradient(to right, red, blue);*/


