@import "fontsStyle.css";
@import "flaticon.css";
@import "material-icons.css";

/*<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">*/

/*========== ГЛОБАЛЬНЫЕ НАСТРОЙКИ ============================================*/

*{
    margin: 0;
    padding: 0;
}

.clearfix{
    clear: both;
}

.outline1{
    outline: 1px solid black;
}

.outline2{
    outline: 1px solid darkgoldenrod;
}
.colorBlok1{
    background-color: seashell;
}

.colorBlok2{
    background-color: khaki;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Lato Regular';
}


/*========= КОНЕЦ ГЛОБАЛЬНЫЕ НАСТРОЙКИ =======================================*/


/*========== HEADER ============================================*/
.header{   
    padding-top: 143px;
    padding-bottom: 135px;
    text-align: center;
    background-image: url("../images/video-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
.header h1{   
   font-family: 'Lato Black';
   font-size: 62px;
   text-transform: uppercase
    
}
.header p{
    margin-top: 135px;
    font-size: 34px; 
}
.header span{
    font-family: 'Lato Light';
    font-size: 112px;
    text-transform: capitalize;
}

.formW{
    margin: 150px auto 0;
    width: 370px;
    background-color: whitesmoke;
    padding: 30px;
    box-sizing: border-box;
}
.formW input[type="text"]{
    width: 310px;
    height: 50px;
    padding-left: 20px;
    font-size: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}

.getStarted{
    width: 310px;
    height: 60px;
    text-transform: uppercase;
    background-color: #5DBDFE;
    margin-top: 10px;
}
.getStarted:hover{
    cursor: pointer;
    background-color: chocolate;
}
/*========= КОНЕЦ HEADER =====================================================*/


/*========== ABOUT US ========================================================*/
.aboutUs{
    padding-top: 200px;
    padding-bottom: 135px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    font-size: 0;
}
.aboutUs .container h2{
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 30px; 
}
.aboutUs .container p{
  
    font-family: 'Lato Bold';
    font-size: 20px;
    margin-bottom: 50px;
}

.aboutUsCell{
    width: 50%;
    outline: 1px solid black;
    display: inline-block;
    vertical-align: top;
    padding-left:100px;
    box-sizing: border-box;
    text-align: left;
    
           
}
.iconAboutUsCell{
    position: absolute;
    margin-left: -100px;
    
}

.aboutUsCell h3{
    font-size: 24px;
    padding-bottom: 20px;
    text-transform: capitalize;
}
.aboutUsCell p{
    font-size: 20px;
    line-height: 1.5;
}
/*========= КОНЕЦ ABOUT US ===================================================*/


/*========== FEATURES ========================================================*/

.features{
    text-align: center;
    padding-top: 120px;

}

.features .container h2{
    font-size: 45px;
    text-transform: capitalize;
}

.features .container p{
    padding-top: 30px;
    padding-bottom: 60px;
    font-family: 'Lato Bold';
    font-size: 20px;
}
/*========= КОНЕЦ FEATURES ===================================================*/


/*========== ADVANTAGES ======================================================*/
/*========= КОНЕЦ ADVANTAGES =================================================*/

/*========== FOOTER ==========================================================*/
.footer{
    background-image: url("../images/MapLayer 109.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    
}

/*========= КОНЕЦ FOOTER =====================================================*/


/*  ===== СПРАВОЧНО==============
background: linear-gradient(to right, red 0, red 50%, blue 50%, blue 100%);
    background: linear-gradient(to right, red, transparent), linear-gradient(to top, blue, transparent);
    background: linear-gradient(to right, red, blue);*/


