@import "fontsStyle.css";
@import "flaticon.css";
@import "material-icons.css";

/*<link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">*/


*{
    margin: 0;
    padding: 0;
}

.clearfix{
    clear: both;
}

.outline1{
    outline: 1px solid black;
}

.outline2{
    outline: 1px solid darkgoldenrod;
}


.wrapper{
    width: 1280px;
    margin: 5px auto;
    outline: 5px solid red;
}

.header{
    height: 720px;
    background-image: url("../images/video-bg.jpg");

}

.forma{
    width: 200px;
    outline: 1px solid black;
    margin: auto;

    background-color: aliceblue;

}
.formW{
    padding: 10px;
    outline: 1px solid brown;
    margin: auto;
    background-color: antiquewhite;
    text-align: center;
}
.formW input{
    margin: 5px 10px;
    border: 0px;
    padding: 7px;
    width: 150px;
}

.getStarted{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: deepskyblue;
    text-transform: uppercase;
}

.aboutUs{
    margin: auto;
    max-width: 750px;
    height: 300px;
}
.about{
    text-align: center;
}
.about p:first-child{
    font-family: 'Lato Regular';
    font-size: 45px;
    text-transform: capitalize;
}

.us1{
    font-family: 'Lato Bold';
    font-size: 20px;
    text-transform: capitalize;
}

.aboutUsBlok div{
    outline: 1px solid tomato;
}
.aboutUsBlok{
    width: 100%;
}

.icon{
    max-width:60px;
    height: 100%;
    background-color: beige;
    float: left;
    text-align: right;

}
.leftTop{
    width: 50%;
    float: left;

}
/*
.leftTop, .rightTop, .leftBottom, .righttBottom div:nth-child(3n+2){
    background-color: beige;

}
.leftTop, .rightTop, .leftBottom, .righttBottom div:nth-child(odd){
    background-color: bisque;
}
*/

.rightTop{
    width: 50%;
    float: right;

}

.leftBottom{
    width: 50%;
    float: left;
}
.leftBottom{

}

.righttBottom{
    width: 50%;
    float: right;

}
.textAboutUsBlok{
    float: right;
    width: 290px;
    height: 100%;
    background-color: bisque;
}
.textAboutUsBlok :nth-child(1){
    text-transform: capitalize;
    font: bold 20px 'Lato Regular';
}

.textAboutUsBlok :nth-child(even){
    text-transform: capitalize;
    font: normal 16px 'Lato Regular';
}

.featuresBlok{
    outline: 1px solid yellowgreen;
    width: 100%;

}
.textFeatures{
    width: 50%;
    float: left;
}
.featuresImg{
    width: 50%;
    height: 680px;
    background-image: url("../images/Depositphotos_14779185_original copy2.png");
    background-repeat: no-repeat;
    float: right;
}





/*  ===== СПРАВОЧНО==============
background: linear-gradient(to right, red 0, red 50%, blue 50%, blue 100%);
    background: linear-gradient(to right, red, transparent), linear-gradient(to top, blue, transparent);
    background: linear-gradient(to right, red, blue);*/


